<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wayne.pages">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pages"
        tools:targetApi="31">
        <activity
            android:label="Settings"
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:label="Send Cash"
            android:name=".SendMoneyActivity"
            android:exported="false" />
        <activity
            android:label="Transactions"
            android:name=".TransactionsActivity"
            android:exported="false" />
        <activity
            android:label="Account Details"
            android:name=".MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>